{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">We cannot find addresses right now</h1>
  <p class="govuk-body">The address service is unavailable. Try again later.</p>
  <p class="govuk-body"><a class="govuk-link" href="/select-address">Try the address lookup again</a>.</p>
{% endblock %}
