{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/address"
  }) }}

  <h1 class="govuk-heading-xl">Postcode captured</h1>
  <p class="govuk-body">You entered <strong>{{ postcode }}</strong>.</p>
  <p class="govuk-body">
    Your postcode has been saved for this training journey. Address lookup will be added later; no
    address has been found yet.
  </p>
{% endblock %}
