{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/select-address"
  }) }}

  <h1 class="govuk-heading-xl">Address selected</h1>
  <p class="govuk-body">You selected:</p>
  <p class="govuk-body">
    {{ address.line1 }}<br>
    {% if address.line2 %}{{ address.line2 }}<br>{% endif %}
    {{ address.town }}<br>
    {{ address.postcode }}
  </p>
  <p class="govuk-body">Your address has been saved for this training journey.</p>
{% endblock %}
