{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/upload-document"
  }) }}

  <h1 class="govuk-heading-xl">Document image accepted</h1>
  <p class="govuk-body">The training service accepted the image for your {{ documentName | lower }}.</p>
  <p class="govuk-body">File: {{ upload.fileName }}</p>
  <img class="app-uploaded-image govuk-!-margin-bottom-6" src="/document-image" alt="Uploaded {{ documentName | lower }} image">
  <p class="govuk-body">The image has not been used to verify your identity or check whether the document is authentic.</p>

  {{ govukButton({
    text: "Continue",
    href: "/check-your-answers"
  }) }}
{% endblock %}
