{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">We could not upload your image</h1>
  <p class="govuk-body">The document upload service is unavailable. Try again later.</p>
  <p class="govuk-body"><a class="govuk-link" href="/upload-document">Try the upload again</a></p>
{% endblock %}
