{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Your form could not be submitted</h1>
  <p class="govuk-body">
    For your security, return to postcode entry and try again.
  </p>
  <p class="govuk-body">
    <a class="govuk-link" href="/address">Return to postcode entry</a>
  </p>
{% endblock %}
