{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-xl">Start the BrightStart training journey</h1>
  <p class="govuk-body-l">
    Use this service to confirm your details and identity before accessing a fictional government
    service.
  </p>
  <p class="govuk-body">
    This is a fictional training service to practise a simple identity journey from start to submission.
  </p>

  <h2 class="govuk-heading-m">What you will need to do</h2>
  <p class="govuk-body">During the journey, you will be asked to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>confirm your address</li>
    <li>tell us which identity document you have</li>
    <li>provide an image of a document</li>
  </ul>

  {{ govukButton({
    text: "Start now",
    href: "/before-you-start",
    isStartButton: true
  }) }}
{% endblock %}
