{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">BrightStart Training Service</h1>
  <p class="govuk-body-l">
    A synthetic service for practising how to investigate, change and test a government-style
    application.
  </p>
  <p class="govuk-body">
    It is not a real government service and does not use real client or public data.
  </p>
{% endblock %}
