{% extends "layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/check-your-answers"
  }) }}

  <h1 class="govuk-heading-xl">Ready to submit</h1>
  <p class="govuk-body">You have reviewed your answers.</p>
  <p class="govuk-body">Nothing has been submitted for a decision.</p>
{% endblock %}
