{% extends "layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">We could not submit the training journey</h1>
  <p class="govuk-body">The submission service is unavailable. Try again later.</p>
  <p class="govuk-body"><a class="govuk-link" href="/check-your-answers">Return to check your answers</a></p>
{% endblock %}
